.tds-title-header {
  background: linear-gradient(90deg, #356768, #5AEEF0);
  padding: 30px;
  border-radius: 0 0 25px 25px;
  color: white;
}

.tds-title-header h1 {
  font-size: 2rem;
  text-shadow: 0 4px 5px #000000ba;
  font-weight: 500;
  margin: 0;
}

.tds-back-icon {
  font-size: 1.5rem;
  color: #007b8a;
  cursor: pointer;
  margin-right: 4px;
}

.tds-title {
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 25px;
  gap: 16px;
}

.tds-title-text {
  margin: 0;
  font-weight: bold;
  font-size: 1.5rem;
  color: #6e6e76;
  margin-top: 10px;
}

.tds-select-group {
  padding: 16px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.tds-gratds-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.tds-gratds-card {
  flex: 0 1 calc(50% - 10px);
  max-width: calc(50% - 10px);
  background-color: #fff;
  border-radius: 10px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.tds-width25 {
  width: 25%;
}

.tds-width40 {
  width: 40%;
}

.tds-head-gratds-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.tds-head-gratds-card-text {
  color: #1b4242;
  border-radius: 2px;
  background-image: linear-gradient(to right, #5DDFE2, #ffffff);
  padding: 5px;
}

.tds-right-select-gratds {
  text-align: right;
}

.tds-select-filter {
  width: fit-content;
  min-width: 120px;
}

.tds-select-date {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: flex-end;
}

.tds-header-vis {
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-top: 20px;
}

.tds-title-search-vis {
  align-items: center;
  width: 25%;
}

.tds-title-text-vis {
  margin: 0;
  font-weight: bold;
  font-size: 1.5rem;
  color: #6e6e76;
  margin-top: 10px;
}

.tds-search-box {
  margin: 10px 0px;
}

.tds-search-input {
  border-radius: 20px;
  height: 30px;
  font-size: 14px;
}

.tds-btn-container {
  display: flex;
  padding: 0px 45px 10px 0px;
  justify-content: flex-end;
}

.tds-add-btn {
  height: 100%;
  background-color: #157071;
  color: white;
  margin: -42px 0px -1000px -1000px;
  border: none;
  padding: 6px 14px;
  border-radius: 18px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: 0.2s;

}

.tds-add-btn:hover {
  background-color: #49d4d7;
}

.tds-table-tdsdata {
  background: white;
  border-radius: 25px;
  padding: 20px;
  box-shadow: 0px 2px 15px rgba(162, 162, 162, 0.5);

  margin-bottom: 20px;
  position: relative;
  z-index: 5;
}

.tds-table-data .ant-table-thead>tr>th {
  background-color: #A1EFF0;
  color: #5D5D5D;
  font-weight: bold;
  text-align: center;
}

.tds-table-data .ant-table {
  border-radius: 25px;
  overflow: hidden;
}

.tds-table-data .ant-table-ttdsy>tr>td {
  text-align: center;
  vertical-align: middle;
}

/* โค้งขอบหัวตาราง (thead) */
.tds-table-data .ant-table-thead>tr>th:first-child {
  border-top-left-radius: 20px;
}

.tds-table-data .ant-table-thead>tr>th:last-child {
  border-top-right-radius: 20px;
}

.tds-table-data .ant-table-tfoot>tr>td:first-child {
  border-bottom-left-radius: 20px;
}

.tds-table-data .ant-table-tfoot>tr>td:last-child {
  border-bottom-right-radius: 20px;
}


/*จัดการ*/

/* ทำให้คอลัมน์จัดการข้อมูลดูทึบกว่า */
.tds-table-data .ant-table-ttdsy>tr>td.darker-column {
  background-color: #f5f5f5;
  /* เทาอ่อนทึบ */
  font-weight: 500;
  border-right: 0.5px solid #D9D9D9;
  border-bottom: 0.5px solid #D9D9D9;
}

.tds-title-text-table {
  margin: 0;
  font-weight: bold;
  font-size: 1.2rem;
  color: #6e6e76;
  margin-bottom: 10px;
}

.tds-title-text-statistics {
  font-size: 24px;
  font-weight: bold;
  margin: 100px 0px;
  color: #333;
}

/*สถานะ*/
.status-badge {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  font-weight: 500;
  font-size: 14px;
}

.status-low {
  color: #faad14;
}

.status-high {
  color: #EE404C;
}

.status-good {
  color: #14C18B;
}

.status-none {
  color: #999;
}

.action-buttons {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.circle-btn {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid #d9d9d9;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: border-color 0.2s ease, background-color 0.2s ease;
}

.circle-btn:hover {
  background-color: #f5f5f5;
}

.edit-btn .anticon {
  font-size: 20px;
  color: #666;
}

.delete-btn .anticon {
  font-size: 20px;
  color: #ff6b6b;
}

.expand-chat {
  color: #8d8a8a !important;
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;
  transition: all 0.2s ease-in-out;
}

.expand-chat:hover {
  transform: scale(1.1);
  color: #666 !important;
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
}
.tds-custom-modal{
   width: 90% !important;     /* important ใช้ในกรณีที่ Ant Design อาจ override ค่า */
  max-width: 1200px !important;
}

.tds-chart-container {
  flex: 1;                   /* ให้กินพื้นที่ที่เหลือ */
  min-height: 400px;         /* กันไม่ให้เตี้ยเกินไป */
}

.tds-chart-container .apexcharts-canvas {
  height: 100% !important;   /* บังคับให้ chart ขยายเต็ม */
}



/* Responsive for tablets (max-width: 1024px) */
@media (max-width: 1025px) {
  .tds-gratds-card {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .tds-select-group {
    flex-direction: column;
    align-items: stretch;
  }

  .tds-title {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .tds-right-select-gratds {
    width: 100%;
    text-align: left;
  }

  .tds-select-date {
    display: flex;
    gap: 10px;
    margin-left: auto;
  }
}

/* Responsive for medium screens (max-width: 768px) */
@media (max-width: 768px) {
  .tds-title-header {
    margin-top: 50px;
    text-align: center;
  }

  .tds-title-header h1 {
    font-size: 2rem;
  }

  .tds-title-text {
    font-size: 1.25rem;
    text-align: center;
  }

  .tds-select-group {
    flex-direction: column;
  }

  .tds-table-data {
    overflow-x: auto;
    padding: 10px;
  }

  .tds-table-data .ant-table {
    min-width: 600px !important;
    /* ปรับความกว้างขั้นต่ำของตารางให้แสดง scrollbar หากจอเล็ก */
  }

  .tds-table-data .ant-table-thead>tr>th,
  .tds-table-data .ant-table-ttdsy>tr>td {
    white-space: nowrap !important;
    /* บรรทัดไม่ตัด */
    padding: 8px !important;
    font-size: 12px !important;
  }

  .tds-title-text-table {
    text-align: center;
    font-size: 1rem;
  }

  .tds-add-btn {
    font-size: 12px;
    padding: 5px 12px;
  }

  .tds-search-input {
    font-size: 12px;
    height: 28px;
  }
}

/* Responsive for small screens (max-width: 480px) */
@media (max-width: 480px) {
  .tds-title-header {
    padding: 15px;
  }

  .tds-title-header h1 {
    font-size: 1.5rem;
    margin-top: 10px;
  }

  .tds-gratds-card {
    min-height: 350px;
  }

  .tds-select-group {
    padding: 10px;
    gap: 8px;
  }

  .tds-head-gratds-card {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  .tds-right-select-gratds {
    text-align: left;
    width: 100%;
  }

  .width25 {
    width: 40%;
  }

  .width40 {
    width: 60%;
  }

  .tds-select-date {
    align-items: flex-start;
    gap: 10px;
    width: 100%;
  }

  /* ปรับ Select filter ให้เต็มจอเล็ก */
  .tds-select-date .tds-select-filter {
    width: 50% !important;
  }

  /* ปรับ DatePicker และ RangePicker ให้เต็มจอ */
  .tds-select-date .ant-picker {
    width: 100% !important;
  }

}

/* Responsive for small screens (max-width: 480px) */
@media (max-width: 376px) {
  .tds-title-header {
    padding: 15px;
    max-width: 100%;
  }

  .tds-width25 {
    width: 40%;
  }

  .tds-width40 {
    width: 60%;
  }

  .tds-title-header h1 {
    font-size: 1rem;
  }

  .tds-gratds-card {
    min-height: 350px;
    max-width: 375px;
  }

  .tds-select-group {
    padding: 10px;
    gap: 8px;
  }

  .tds-head-gratds-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .tds-right-select-gratds {
    text-align: left;
    width: 100%;
  }

  .tds-table-data {
    overflow-x: auto;
    padding: 10px;
  }

  .tds-table-data .ant-table {
    min-width: 600px !important;
    /* ปรับความกว้างขั้นต่ำของตารางให้แสดง scrollbar หากจอเล็ก */
  }

  .tds-table-data .ant-table-thead>tr>th,
  .tds-table-data .ant-table-ttdsy>tr>td {
    white-space: nowrap !important;
    /* บรรทัดไม่ตัด */
    padding: 5px !important;
    font-size: 7px !important;
  }

  .circle-btn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #d9d9d9;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: border-color 0.2s ease, background-color 0.2s ease;
  }

  .circle-btn:hover {
    background-color: #f5f5f5;
  }

  .tds-custom-modal {
    width: 90% !important;
    max-width: 1200px !important;
    margin-top: 60px !important;
  }
}