.Infectious-title-header {
  /* background: linear-gradient(90deg, #356768, #5AEEF0); */
  background-color: #13b7b9;
  padding: 20px;
  border-radius: 0 0 20px 20px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.Infectious-title-header h1 {
  font-size: 2rem;
  text-shadow: 0 4px 20px #d9d9d9a4;
  font-weight: bold;
  margin: 0;
}
.Infectious-graph-container {
  display: grid;
  grid-template-columns: 1.3fr 1.8fr; /* ซ้ายเล็ก ขวาใหญ่ */
  grid-template-rows: 1fr; /* แถวเดียว ฝั่งซ้ายใช้ nested flex */
  gap: 16px;
  height: 600px; /* ความสูงรวม container */
  padding: 30px;
}

/* ฝั่งซ้ายเป็น grid 2 แถวเท่ากัน */
.Infectious-graph-left {
  display: grid;
  grid-template-rows: 1fr 1fr; /* ซ้ายบน-ซ้ายล่างเท่ากัน */
  gap: 16px;
}

/* ซ้ายบน */
.Infectious-graph-left .Infectious-graph-card:nth-child(1) {
  background-color: #13b7b9;
}

/* ซ้ายล่าง */
.Infectious-graph-left .Infectious-graph-card:nth-child(3) {
  background-color: aquamarine;
}

/* ฝั่งขวาใหญ่ + ล่างเล็ก */
.Infectious-graph-right {
  display: grid;
  grid-template-rows: 4fr 1fr; /* กราฟใหญ่ 80% / การ์ดเล็ก 20% */
  gap: 16px;
}

/* กราฟใหญ่ */
.Infectious-graph-right .Infectious-graph-card:nth-child(2) {
  background-color: antiquewhite;
}

/* ล่างขวา (2 ช่องเล็ก) */
.Infectious-small-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* แบ่งครึ่งแนวนอน */
  gap: 16px;
}

.Infectious-small-card-container .Infectious-graph-card {
  background-color: lightpink;
  height: 100%;
}

/* แค่ตกแต่ง */
.Infectious-graph-card {
  /* border: 2px solid black; */
  padding: 20px;
  background: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
