.w-tabs-header {
  background-color: #13b7b9;
  padding: 20px;
  border-radius: 0 0 20px 20px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.w-tabs-header h1 {
  font-size: 2rem;
  text-shadow: 0 4px 20px #d9d9d9a4;
  font-weight: bold;
  margin: 0;
}

.tabs {
  width: 80%;
  margin: 0 auto;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  gap: 8px;
  padding: 10px 20px;
  background: inherit;
  border-bottom: 2.5px solid #A1EFF0;
  box-sizing: border-box;
}

.tabs button {
  border-radius: 15px;
}

/* Responsive Behavior */
@media (max-width: 768px) {
  .tabs {
    width: 50%;
    margin: 0 auto;
  }

  .tabs-header {
    margin-top: 50px;
  }

  .tabs-header h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  .tabs-header p {
    font-size: 1rem;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .tabs-header {
    padding: 15px;
  }

  .tabs-header h1 {
    font-size: 1.5rem;
    margin-top: 10px;
  }

  .tabs {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
}