.up-ph-container {
  background: white;
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: 0 2px 12px #7b61ff3b;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
}

.up-ph-container .ant-input,
.up-ph-container .ant-input-number,
.up-ph-container .ant-picker,
.up-ph-container .ant-select-selector {
  border-radius: 50px !important;
}

.up-ph-container .ant-input-number-handler-wrap {
  border-radius: 0 50px 50px 0 !important;
  overflow: hidden;
}

.up-form-group-ph {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.up-form-group-ph .ant-form-item {
  flex: 1 1 300px;
}

.up-form-group-mini-ph {
  width: 48%;
}

.full-width-ph {
  width: 100%;
}

.red-text-ph {
  color: red;
  font-weight: bold;
}

.up-form-actions-ph {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 9px;
  margin-bottom: 9px;
}

.cancel-up-ph,
.reset-up-ph,
.submit-up-ph {
  padding: 10px 10px;
  min-width: 80px;
  height: inherit;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50px;
  border: none;
  margin-top: -15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

/* ปุ่มแต่ละแบบ */
.cancel-up-ph {
  background-color: #949494;
  color: white;
  margin-right: 10px;
  transition: all 0.2s ease-in-out;
}

.reset-up-ph {
  background-color: #ffffff;
  color: #326667;
  margin-right: 10px;
  transition: all 0.2s ease-in-out;
}

.submit-up-ph {
  background-color: #326667;
  color: white;
  transition: all 0.2s ease-in-out;
}

.submit-up-ph:hover {
  color: rgb(255, 255, 255) !important;
  background-color: #358788 !important;
  transform: scale(1.05) !important;
}

.reset-up-ph:hover {
  color: #326667 !important;
  background-color: #ffffff !important;
  transform: scale(1.05) !important;
}

.cancel-up-ph:hover {
  color: rgb(255, 255, 255) !important;
  background-color: #646464 !important;
  transform: scale(1.05) !important;
}
.up-ph-fornt-small {
  display: flex;
  gap: 16px;
}

/* Responsive behavior */
@media (max-width: 768px) {
  .up-form-group-ph {
    flex-direction: column;
    gap: 16px;
  }

  .up-form-group-ph .ant-form-item {
    flex: 1 1 100%;
  }

  .up-form-actions-ph {
    flex-direction: column;
    align-items: stretch;
  }

  .cancel-up-ph,
  .reset-up-ph,
  .submit-up-ph {
    width: 100%;
    margin-top: 10px;
  }

  .up-from-mini-ph {
    width: 100%;
  }
  .up-fornt-small-ph .ant-form-item-label > label {
  font-size: small !important;}
  
}

@media (max-width: 1024px) {
  .up-from-mini-ph {
    width: 100%;
  }
}