.ph-container {
  background: white;
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: 0 2px 12px #7b61ff3b;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
}

/* ปรับ input ให้มี border-radius 50px */
.ph-container .ant-input,
.ph-container .ant-input-number,
.ph-container .ant-picker,
.ph-container .ant-select-selector {
  border-radius: 50px !important;
}

.ph-container .ant-input-number-handler-wrap {
  border-radius: 0 50px 50px 0 !important;
  overflow: hidden;
}

.ph-form-group {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.ph-form-group .ant-form-item {
  flex: 1 1 300px;
}

.ph-from-mini {
  width: 48%;
}

.ph-full-width {
  width: 100%;
}

.ph-red-text {
  color: red;
  font-weight: bold;
}

.ph-form-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 9px;
  margin-bottom: 9px;
}

.ph-cancel,
.ph-reset,
.ph-submit {
  padding: 10px 10px;
  min-width: 80px;
  height: inherit;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50px;
  border: none;
  margin-top: -15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

/* ปุ่มแต่ละแบบ */
.ph-cancel {
  background-color: #949494;
  color: white;
  margin-right: 10px;
  transition: all 0.2s ease-in-out;
}

.ph-reset {
  background-color: #ffffff;
  color: #1a4b57;
  margin-right: 10px;
  transition: all 0.2s ease-in-out;
}

.ph-submit {
  background-color: #1a4b57;
  color: white;
  transition: all 0.2s ease-in-out;
}

.ph-submit:hover {
  color: rgb(255, 255, 255) !important;
  background-color: #49d4d7 !important;
  transform: scale(1.05) !important;
}

.ph-reset:hover {
  color: #1a4b57 !important;
  background-color: #ffffff !important;
  transform: scale(1.05) !important;
}

.ph-cancel:hover {
  color: rgb(255, 255, 255) !important;
  background-color: #646464 !important;
  transform: scale(1.05) !important;
}
.ph-fornt-small {
  display: flex;
  gap: 16px;
}
.ph-chat-modal{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.ph-container-modal {
  all: unset !important;
  padding: 0px !important;
  margin: 0px 0px 0px 0px !important;
  background: transparent !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  max-width: none !important;
  width: auto !important;
  font-size: inherit !important;
}

/* Responsive behavior */
@media (max-width: 768px) {
  .ph-container {
      padding: 10px 20px;
  }
  .ph-form-group {
    flex-direction: column;
    gap: 16px;
  }

  .ph-form-group .ant-form-item {
    flex: 1 1 100%;
  }

  .ph-form-actions {
    flex-direction: column;
    align-items: stretch;
  }

  .ph-cancel,
  .ph-reset,
  .ph-submit {
    min-width: 79.5px;
    margin-top: 10px;
  }

  .ph-from-mini {
    width: 100%;
  }
  .ph-fornt-small .ant-form-item-label > label {
  font-size: small !important;}
  
}

@media (max-width: 1024px) {
  .ph-from-mini {
    width: 100%;
  }
}