.tabs-header {
  background: linear-gradient(90deg, #356768, #5AEEF0);
  padding: 30px;
  border-radius: 0 0 25px 25px;
  color: white;
}

.tabs-header h1 {
  font-size: 2rem;
  /* ปรับให้ responsive โดยไม่ใช้ xx-large */
  text-shadow: 0 4px 5px #000000ba;
  font-weight: 500;
  margin: 0;
}

.tabs {
  width: 80%;
  margin: 0 auto;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  gap: 8px;
  padding: 10px 20px;
  background: inherit;
  border-bottom: 2.5px solid #A1EFF0;
  box-sizing: border-box;
}

.tabs button {
  border-radius: 15px;
}

/* Responsive Behavior */
@media (max-width: 768px) {
  .tabs {
    width: 50%;
    margin: 0 auto;
  }

  .tabs-header {
    margin-top: 50px;
  }

  .tabs-header h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  .tabs-header p {
    font-size: 1rem;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .tabs-header {
    padding: 15px;
  }

  .tabs-header h1 {
    font-size: 1.5rem;
    margin-top: 10px;
  }

  .tabs {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
}